html {
	font-size: 10px;
	font-family: 'Fjalla One', sans-serif;
}

body {
  width: 1400px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: #D0FAFA;
  text-shadow: 3px 3px 1px black;
}

p {
  font-size: 20px;    
  line-height: 2;
  letter-spacing: 1px;
}

li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
}
